{% extends "base.html" %}
{% block content %}
    <div style="text-align: center; margin-top: 50px;">
        <h3>Enter your Steam ID or Custom URL name:</h3>
        <form action="/backlog" method="post">
            <input type="text" name="steam_id_input" placeholder="e.g. GabeLoganNewell" required 
                   style="width: 300px; padding: 12px; font-size: 1.1em;">
            <br><br>
            <button type="submit">Analyze My Library</button>
        </form>
    </div>
{% endblock %}